html,
body {
    /*background: #efefef;*/
    padding: 40px;
    font-family: 'Consolas', sans-serif;
}

.glyphicon-off {
    margin-right: 5px;
    color: #3a9a3a;
}

.caret {
    margin-left: 7px;
    color: #3a9a3a;
}



